html{
    width: 1280px;
    height: auto;
    scroll-behavior: smooth;
}
.title h1{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 20px;
    margin: auto;
    color: #3c108b;
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    background-color: rgba(236, 232, 232, 0.664);
    

}
body{
    background-image: url(https://shoplineimg.com/59cb39b849267867b30017f6/636cc3777fb3db782d555a29/2200x.webp?source_format=jpg);
}
.announcement-inform{
    min-height: 600px;
    display: flex;
    flex-direction:column;
    
}
.announcement-inform a{
    height: auto;
    width: auto;
    border-radius: 5px;
    background-color: rgba(18, 24, 72, 0.3);
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-left:20px ;
    padding-right:20px ;
}
a h3{
    text-align: right;
}
a:hover{
    background-color: rgba(82, 95, 194, 0.3);
}
.announcement{
    
    
    background-color: rgba(236, 232, 232, 0.664);
}
.inform1-more{
    text-align: center;
    color: #fff;
    background-color: rgba(40, 12, 89, 0.687);
    padding: 20px;
}
.footer{
height: 40px;
}