html{
    width: 1280px;
    height: auto;
    scroll-behavior: smooth;
}
.shop-intro h1{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 20px;
    margin: auto;
    color: #fff;
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    background-color: #1d287781;
    

}
.map{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}
img{
    max-height: 400px;
    min-height: 100px;
    max-width: 400px;
    min-width: 100px;
    margin-right: 50px;
}
iframe{
    max-height: 400px;
    min-height: 100px;
    max-width: 500px;
    min-width: 200px;
}
.inform{
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    color: #fff;
    font-size:medium ;
    
}
.inform h1{
    background-color: #fff;
    border-radius: 6px;
    color: #1D2877;;
    padding-left: 10px;
}
.place{
    background-color: #1d287781;
    padding: 40px;
}